.modal-cover{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.33);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-window{
    min-width: 40vw;
    min-height: 40vh;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #5e5e5e;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.modal-window .modal-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}
.modal-window .modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.modal-window .modal-footer{
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 10px;
}
.modal-window .close-btn{
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}
.modal-window .active-btn{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}